<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a>
          </li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
  <main>
    {{#if hasProduct }}
      <div class="grid">
        {{#each prods}}
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title">{{ this.title }}</h1>
            </header>
            <div class="card__image">
              <img src="https://th.bing.com/th/id/OIP.wHRSXJLHQV2bmfk-yZQDnwAAAA?w=285&h=202&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Opened Book">
            </div>
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__description">A very interesting book about social life.</p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
        {{/each}}
      </div>
    {{ else }}
      <div class="center">
        <h2>No Products are added</h2>
      </div>
    {{/if}}
  </main>
</body>

</html>