extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/product.css")

block content 
  main
      if prods.length > 0
        .grid
          each product in prods
            article.card.product-item
              header.card__header
                h1.product__title #{product.title}
              div.card__image
                img(src="https://th.bing.com/th/id/OIP.wHRSXJLHQV2bmfk-yZQDnwAAAA?w=285&h=202&c=7&r=0&o=5&dpr=1.3&pid=1.7", alt="Book Image")
              div.card__content
                h2.product__price $19.99
                p.product__description A very interesting book about social life.
              .card__actions
                button.btn Add To Cart
      else 
        h2.center No Products are added