/*================== Declare Value of  Color =====================*/
:root {
  --clr-header: #FFFFFF;
  --clr-header-alt: #EBAB15;
  --clr-primary-btn: #EBAB15;
  --clr-header-bg: #3F1D38;
  --clr-text-body: #000000;
  --clr-primary-100: #4771fa;
  --clr-primary-200: #b9c9ff;
  --clr-danger: red;
  --clr-danger-alt: rgb(250, 143, 143);
  --clr-shadow: rgba(100, 97, 97, 0.721);
  --clr-password: rgb(41, 39, 39);
  --clr-price: #323131;
  --clr-body: rgb(255, 255, 255);
  --clr-body-alt: rgb(255, 255, 255);
  --clr-body-new: rgb(255, 255, 255);
  --clr-input-text: #000000;
  --clr-input-bg: #FFFFFF;
  --clr-input-border: #000000;
  --clr-neutral-btn: #3F1D38;
  --clr-neutral-btn-alt: #1e5b65;
  --clr-text-btn: #FFFFFF;
  --gap : 1rem;
}
/*================== Declare Value of  Color =====================*/

/*================== VARIABLE Dark Mode =====================*/
.darkmode {
  --clr-primary-btn: #EBAB15;
  --clr-header-bg: #1e5b65;
  --clr-text-body: #FFFFFF;
  --clr-shadow: rgba(71, 69, 69, 0.86);
  --clr-password: rgb(41, 39, 39);
  --clr-price: #f7f7f7;
  --clr-input-text: #FFFFFF;
  --clr-input-bg: #FFFFFF;
  --clr-input-border: #FFFFFF;
  --clr-input-bg: rgb(25, 23, 23);
  --clr-neutral-btn: #1e5b65;
  --clr-neutral-btn-alt: #3F1D38;
  --clr-text-btn: #FFFFFF;
  --clr-body: rgb(27, 28, 32);
  --clr-body-alt: rgb(31, 29, 32);
  --clr-body-new: rgb(27, 26, 26);
}
/*================== VARIABLE Dark Mode =====================*/

/*================== Import Font =====================*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
}
/*================== Import Font =====================*/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(-245deg, var(--clr-body-alt), var(--clr-body), var(--clr-body-new));
  color: var(--clr-text-body);
  overflow: hidden;
}

main {
  padding: 1rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--clr-text-body);
}

/* =================== Navbar Design =============== */
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.logo {
  margin: 1.5rem;
  width: 56px;
  height: 44px;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-header-bg);
}

ul {
  list-style: none;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}

.primary-navigation a {
  text-decoration: none;
}

/* also we can use 
.primary-navigation a > span {} */
.primary-navigation a > [aria-hidden="true"] { 
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.sr-only {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 53em) {
  .primary-navigation {
    --gap: 2.5em;
    position: fixed;
    z-index: 1000;  
    inset: 0 0 0 35%;
    flex-direction: column;
    padding: min(30vh, 8.5rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    background: var(--clr-neutral-btn);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-image: url("../img/bars.svg");
    background-color: transparent;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    top: 2rem;
    right: 2rem;
    filter: hue-rotate(175deg) contrast(0%) brightness(185%);
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../img/multiply.svg");
  }
}

@media (min-width: 53em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: 1.3rem;
  }
  .ul_auth {
    margin-top: 13px;
  }
}
@media (max-width: 53em) {
  .ul_auth {
    margin-top: 13px;
  }
  .dark-mode-toggle {
    margin-right: 5.5rem;
  }
}
/* ==================== Navbar Design ================= */

.login-links {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

form {
  display: inline;
}

.centered {
  margin-top: 10%;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid var(--clr-primary-100);
  padding: 0.5rem;
  border-radius: 3px;
  background: var(--clr-primary-200);
  text-align: center;
}

.user-message--error {
  border-color: var(--clr-danger-alt);
  background: var(--clr-danger);
}

.center,
.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--clr-header);
  cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: var(--clr-header-alt);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 2px 0 8px var(--clr-shadow);
  border-radius: 3px;
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid var(--clr-neutral-btn-alt);
  color: var(--clr-text-btn);
  background: var(--clr-neutral-btn);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--clr-neutral-btn-alt);
  color: var(--clr-text-btn);
}

.btn.danger {
  color: var(--clr-danger);
  border-color: var(--clr-danger);
  background: var(--clr-body);
}

.btn.danger:hover,
.btn.danger:active {
  background: var(--clr-danger);
  color: var(--clr-text-btn);
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
  .user-message {
    width: 30rem;
  }
}

/* Forms Design */
.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid var(--clr-input-border);
  font: inherit;
  border-radius: 2px;
  background: var(--clr-input-bg);
  color: var(--clr-input-text);
  padding: 0.425rem 0.65rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: var(--clr-neutral-btn);
}
/* Forms Design */


/* Orders Design */
.orders {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-inline: 15%;
}

.orders__item h1 {
    margin: 0;
    font-size: 1rem;
}

.orders__item {
  box-shadow: 0 2px 8px var(--clr-shadow);
  padding: 1rem;
  margin-bottom: 1rem;
}

.orders__products {
  list-style: none;
  margin: 0;
  padding: 0 0 12px 0;
}

.pad-checkout {
  padding-top: 20px;
}

.pad-checkout button {
  padding: 8px;
  border-radius: 3px;
}

.orders__products-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--clr-neutral-btn);
  color: var(--clr-text-body);
}
/* Orders Design */

/* Cart Design */
.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px var(--clr-shadow);
  margin-bottom: 1rem;
}

.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}
/* Cart Design */

/* Auth Design */
.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.password_info {
  line-height: 1;
  margin-bottom: 28px;
}

.password_info, 
.email_info {
  font-size: 13px;
  color: var(--clr-password);
}
/* Auth Design */

/* Products Design */
.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: var(--clr-price);
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.img-details img {
  width: 30%;
  margin-top: 20px;
}
/* Products Design */

/* Dark Theme Design */
#light_mode {
  display: none;
}

#dark_mode,
#light_mode {
  filter: hue-rotate(175deg) contrast(0%) brightness(185%);
}

#dark_mode, 
#light_mode {
  width: 30px;
  height: 30px;
}

button {
  border: 0;
  background: none;
}

.dark-mode-toggle {
  cursor: pointer;
}
/* Dark Theme Design */
