<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="centered">
    <h3>Server has been down!</h1>
    <h4>Please check the internet connection.</h2>
    <h4>Or has been some errors occurred. PLease don't worry, we are working on fixing this problem.</h2>
  </div>
<%- include('includes/end.ejs') %>